<div class="table-container">
  <input
    type="text"
    pInputText
    placeholder="Buscar por nombre o ciudad"
    [(ngModel)]="filterValue"
    class="filter-input"/>

    <p-table [value]="filteredUsers" [rows]="5" showGridlines="true" [paginator]="true" >
      <ng-template #header>
          <th>Nombre</th>
          <th>Email</th>
          <th>Ciudad</th>

      </ng-template>
      <ng-template #body let-user>
        <tr>
          <td>{{ user.name }}</td>
          <td>{{ user.email }}</td>
          <td>{{ user.address.city }}</td>
        </tr>
      </ng-template>
    </p-table>

</div> 
